@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;700&family=Roboto:wght@300;700;900&display=swap");
.Testimonials {
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 4em;
  padding-bottom: 3em;
}

@media (max-width: 868px) {
  .Testimonials {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.Testimonials h1 {
  font-size: 50px;
  margin-top: 2em;
}

@media (max-width: 868px) {
  .Testimonials h1 {
    font-size: 40px;
  }
}

.Testimonials .main-testimonial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 3em 0;
}

.Testimonials .main-testimonial .card {
  background-color: white;
  width: 65%;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 15px -8px black;
          box-shadow: 0px 0px 15px -8px black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 40px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  margin: 1em;
}

.Testimonials .main-testimonial .card.featured {
  width: 300px;
  margin: 0 30px;
}

.Testimonials .main-testimonial .card:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.Testimonials .main-testimonial .card .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Testimonials .main-testimonial .card .top img.left, .Testimonials .main-testimonial .card .top img.right {
  height: 35px;
}

.Testimonials .main-testimonial .card .top img.user {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin: -10px 30px;
  z-index: 10;
}

.Testimonials .main-testimonial .center {
  padding: 10px 55px;
  background-color: #ffecf0;
  font-family: 'Raleway', sans-serif;
}

@media (max-width: 868px) {
  .Testimonials .main-testimonial .center {
    font-size: 12px;
    padding: 5px 10px;
  }
}

.Testimonials .main-testimonial .center.top {
  padding-top: 30px;
}

.Testimonials .main-testimonial .center.lowest {
  padding-bottom: 30px;
}

.Testimonials .main-testimonial .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Testimonials .main-testimonial .bottom h3 {
  margin-top: 15px;
}

@media (max-width: 868px) {
  .Testimonials .main-testimonial .bottom h3 {
    font-size: 14px;
  }
}

.Testimonials .main-testimonial .bottom h4 {
  color: gray;
  margin: 0;
  font-weight: 300;
}

@media (max-width: 868px) {
  .Testimonials .main-testimonial .bottom h4 {
    font-size: 14px;
  }
}

.Testimonials .container {
  width: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 3em 0;
}

@media (max-width: 868px) {
  .Testimonials .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.Testimonials .container .card {
  width: 350px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 15px -8px black;
          box-shadow: 0px 0px 15px -8px black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  margin: 1em;
  background-color: white;
}

@media (max-width: 868px) {
  .Testimonials .container .card {
    width: 250px;
  }
}

.Testimonials .container .card.featured {
  margin: 0 30px;
}

.Testimonials .container .card:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.Testimonials .container .card .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid green;
}

.Testimonials .container .card .top img.left, .Testimonials .container .card .top img.right {
  height: 25px;
}

.Testimonials .container .card .top img.user {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 30px;
}

@media (max-width: 868px) {
  .Testimonials .container .card .top img.user {
    width: 40px;
    height: 40px;
  }
}

.Testimonials .container .center {
  padding: 10px;
  background-color: #f1e5e8;
}

@media (max-width: 868px) {
  .Testimonials .container .center {
    font-size: 12px;
    padding: 5px;
  }
}

.Testimonials .container .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Testimonials .container .bottom h3 {
  margin: 10px 5px 0;
}

@media (max-width: 868px) {
  .Testimonials .container .bottom h3 {
    font-size: 14px;
  }
}

.Testimonials .container .bottom h4 {
  color: gray;
  margin: 0 1em;
}

@media (max-width: 868px) {
  .Testimonials .container .bottom h4 {
    font-size: 14px;
  }
}
/*# sourceMappingURL=Testimonials.css.map */