.portfoliolist{

   
        margin:10px;
        padding:0;
        list-style:none;
        display:flex;

        li{
            font-size:14px;
            margin-right: 5px;
            padding: 7px;
            border-radius: 10px;
            cursor: pointer;

            &.active{
                background-color: rgb(176, 3, 89);
                color:white;
                font-weight: 100;
            }
        }
    

}