@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;700&family=Roboto:wght@300;700;900&display=swap");
.Portfolio {
  margin-top: 7em;
  padding: 2em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(20, 20, 20, 0.45);
  border-radius: 2px;
  border: 1px solid rgba(20, 20, 20, 0.45);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  color: whitesmoke;
}

@media (max-width: 868px) {
  .Portfolio {
    font-size: 40px;
    margin-top: 3em;
    -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
            box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  }
}

.Portfolio h1 {
  font-size: 50px;
}

@media (max-width: 868px) {
  .Portfolio h1 {
    font-size: 40px;
  }
}

.Portfolio ul {
  margin: 10px;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2em;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 868px) {
  .Portfolio ul {
    font-size: 30px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.Portfolio ul li {
  font-size: 18px;
  margin-right: 5px;
  padding: 7px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 100;
}

@media (min-width: 868px) {
  .Portfolio ul li {
    font-size: 30px;
    font-weight: 100;
    margin: 1em;
  }
}

.Portfolio ul li.active {
  color: #b00359;
  font-weight: 800;
  padding: 0.75em 2em;
}

.Portfolio .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

@media (max-width: 868px) {
  .Portfolio .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.Portfolio .container h3 {
  position: absolute;
  font-size: 30px;
  font-weight: 100;
  color: white;
}

.Portfolio .container .item {
  width: 400px;
  height: 250px;
  border-radius: 20px;
  -webkit-box-shadow: 5px 5px 35px rgba(220, 220, 220, 0.13);
          box-shadow: 5px 5px 35px rgba(220, 220, 220, 0.13);
  margin: 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  cursor: pointer;
  background: rgba(19, 19, 19, 0.238);
}

.Portfolio .container .item img {
  opacity: 0.5;
  border: 1px solid rgba(20, 20, 20, 0.45);
  -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.25);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
}

@media (max-width: 868px) {
  .Portfolio .container .item {
    width: 320px;
    height: 200px;
    margin: 15px 0;
  }
}

.Portfolio .container .item:hover {
  background: rgba(20, 20, 20, 0);
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  z-index: 100;
  -webkit-transition: -webkit-transform 2s filter 3s  ease-in-out;
  transition: -webkit-transform 2s filter 3s  ease-in-out;
  transition: transform 2s filter 3s  ease-in-out;
  transition: transform 2s filter 3s  ease-in-out, -webkit-transform 2s filter 3s  ease-in-out;
}

.Portfolio .container .item:hover img {
  opacity: 1;
  z-index: 0;
}

.Portfolio .container .item:hover h3 {
  color: rgba(240, 248, 255, 0);
}

@media (max-width: 868px) {
  .Portfolio .container .item:hover {
    -webkit-transition: visibility .25s ease-in-out, -webkit-transform 1s;
    transition: visibility .25s ease-in-out, -webkit-transform 1s;
    transition: transform 1s, visibility .25s ease-in-out;
    transition: transform 1s, visibility .25s ease-in-out, -webkit-transform 1s;
  }
}

.Portfolio .container img {
  width: 300px;
  height: 200px;
  -o-object-fit: contain;
     object-fit: contain;
  z-index: 1;
  border-radius: 20px;
}
/*# sourceMappingURL=Portfolio.css.map */