@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;700&family=Roboto:wght@300;700;900&display=swap");
.Portfolio {
  margin-top: 5em;
  padding: 2em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #141414;
  color: whitesmoke;
}

@media (max-width: 868px) {
  .Portfolio {
    font-size: 40px;
    margin-top: 3em;
  }
}

.Portfolio h1 {
  font-size: 50px;
}

@media (max-width: 868px) {
  .Portfolio h1 {
    font-size: 40px;
  }
}

.Portfolio ul {
  margin: 10px;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2em;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 868px) {
  .Portfolio ul {
    font-size: 30px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.Portfolio ul li {
  font-size: 18px;
  margin-right: 5px;
  padding: 7px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 100;
}

@media (min-width: 868px) {
  .Portfolio ul li {
    font-size: 30px;
    font-weight: 100;
    margin: 1em;
  }
}

.Portfolio ul li.active {
  border: 1px solid #b00359;
  color: #b00359;
  font-weight: 800;
  padding: 0.75em 2em;
}

.Portfolio .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

@media (max-width: 868px) {
  .Portfolio .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.Portfolio .container h3 {
  position: absolute;
  font-size: 30px;
  font-weight: 100;
  color: white;
}

.Portfolio .container .item {
  width: 400px;
  height: 250px;
  border-radius: 20px;
  -webkit-box-shadow: 5px 5px 35px rgba(220, 220, 220, 0.13);
          box-shadow: 5px 5px 35px rgba(220, 220, 220, 0.13);
  margin: 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  cursor: pointer;
  background: #f815cb;
  background: -webkit-gradient(linear, left bottom, left top, from(#b00359), color-stop(50%, #624758), to(#07d9e2));
  background: linear-gradient(0deg, #b00359 0%, #624758 50%, #07d9e2 100%);
  border: 1px solid #b00359;
  -webkit-box-shadow: 0px 5px 5px #b00359;
          box-shadow: 0px 5px 5px #b00359;
  color: white;
}

.Portfolio .container .item img {
  opacity: 0;
}

@media (max-width: 868px) {
  .Portfolio .container .item {
    width: 320px;
    height: 200px;
    margin: 15px 0;
  }
}

.Portfolio .container .item:hover {
  background: rgba(20, 20, 20, 0);
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  z-index: 100;
  -webkit-transition: -webkit-transform 2s filter 3s  ease-in-out;
  transition: -webkit-transform 2s filter 3s  ease-in-out;
  transition: transform 2s filter 3s  ease-in-out;
  transition: transform 2s filter 3s  ease-in-out, -webkit-transform 2s filter 3s  ease-in-out;
}

.Portfolio .container .item:hover img {
  opacity: 1;
  z-index: 0;
}

.Portfolio .container .item:hover h3 {
  color: rgba(240, 248, 255, 0);
}

@media (max-width: 868px) {
  .Portfolio .container .item:hover {
    -webkit-transition: visibility .25s ease-in-out, -webkit-transform 1s;
    transition: visibility .25s ease-in-out, -webkit-transform 1s;
    transition: transform 1s, visibility .25s ease-in-out;
    transition: transform 1s, visibility .25s ease-in-out, -webkit-transform 1s;
  }
}

.Portfolio .container img {
  width: 300px;
  height: 200px;
  -o-object-fit: contain;
     object-fit: contain;
  z-index: 1;
  border-radius: 20px;
}
/*# sourceMappingURL=Portfolio.css.map */