@import "../../global.scss";

.Portfolio{
    margin-top: 7em;
    padding: 2em 0;
    display:flex;
    align-items: center;
    flex-direction: column;
    background-color: rgba(20, 20, 20, .45);
    border-radius: 2px;
  border: 1px solid rgba(20, 20, 20, .45);

  backdrop-filter: blur(15px);
    color:whitesmoke;
    

    @include mobile{
        font-size: 40px;
        margin-top: 3em;
        box-shadow: 0 0 10px 1px rgba(0, 0, 0, .25);
    }

    h1{
        font-size:50px;

        @include mobile{
            font-size: 40px;
           
        }
    }


    ul{
        margin:10px;
        padding:0;
        list-style:none;
        display:flex;
        margin-top: 2em;
        display:flex;
        align-items: center;
        justify-content: center;
    

        @include mobile{
            font-size: 30px;
            flex-wrap: wrap;
        }

        li{
           
            font-size:18px;
            margin-right: 5px;
            padding: 7px;
            border-radius: 10px;
            cursor: pointer;
            font-weight: 100;
           
            @include desktop{
                font-size: 30px;
                font-weight: 100;
                margin: 1em;
            }

            &.active{
                // border: 1px solid rgb(176, 3, 89);
                color:rgb(176, 3, 89);
                font-weight: 800;
                padding: 0.75em 2em;
            }
        }
    }

        .container{
          
            display:flex;
            align-items: center;
            justify-content: center;
            flex-wrap: nowrap;
           
         

            @include mobile{
                // height: 12000px;
                flex-direction: column;           
            }

            h3{
                position: absolute;
                font-size: 30px;
              font-weight: 100;
             color:white;
             
            
            }

            .item{
                width: 400px;
                height: 250px;
                border-radius: 20px;
               
                // border: 1px solid lightgrey;
                box-shadow: 5px 5px 35px rgba(220, 220, 220, 0.13);
                margin: 10px 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                // color: rgba(255, 255, 255, 0.002);
                position: relative;
                transition: all .5s ease;
                cursor: pointer;
                // border: 5px solid green;
                background: rgba(19, 19, 19, 0.238);
                    // background: linear-gradient(0deg, rgb(176, 3, 89) 0%, rgb(98, 71, 88) 50%, rgba(7,217,226,1) 100%);
                    // border: 1px solid rgb(176, 3, 89);
                    // box-shadow: 0px 15px 5px  rgb(176, 3, 89);
                    // color: white;
        
                    // border: 1px solid rgba(20, 20, 20, .45);
                    // box-shadow: 0 0 10px 1px rgba(0, 0, 0, .25);
                    // backdrop-filter: blur(15px);
                    
                    img{
                        opacity:0.5;
                        border: 1px solid rgba(20, 20, 20, .45);
                        box-shadow: 0 0 5px 1px rgba(0, 0, 0, .25);
                        backdrop-filter: blur(15px);
                    }

               

                @include mobile{
                    width: 320px;
                    height: 200px;
                    margin:15px 0;
                    // border: 5px solid pink;
                    
                }

                &:hover{
                    
                 

                    img{
                        opacity:1;
                        z-index: 0
                    }

                    h3{
                        color:rgba(240, 248, 255, 0);
                    }

                    background: rgba(20, 20, 20, 0);
                    border: none;
                    box-shadow: none;
                    transform: scale(1.5);
                    z-index: 100;
                    transition: transform 2s filter 3s  ease-in-out;
                   
                    

                    @include mobile{
                        transition: transform 1s, visibility .25s ease-in-out;
                        
                    }
                }
            }

            

            img{
                width: 300px;
                height:200px;
                object-fit:contain;
                z-index:1;
                border-radius: 20px;
                

                
            }

            
        }
    }
