@import "../../global.scss";

.Contact {
    background-color: rgb(20, 20, 20);
    display:flex;
    margin-top: 10em;
    color: whitesmoke;
 

    @include mobile {
        flex-direction: column;
        display:flex;
        align-items: center;
        justify-content: center;
        
    }

    .left{
        flex:1;
        overflow: hidden;

        img{
            height:100%;
           width:100%;

           @include mobile {
            padding-top:2em;
        }
        }
    }
    .right{
        flex:1;
        display:flex;
        flex-direction: column;
            align-items: center;
            justify-content: center;


        h2{
            font-size: 40px;
            margin-top: 2em;
            margin-bottom: 1em;
            
        }

        form{
            width: 80%;
            height: 70%;
           margin-bottom: 0.25em;
           border: 5px solid pink;
            // display:flex;
            // flex-direction: column;
            // align-items: center;
            // justify-content: center;
           
            
        
            input{
                border: 5px solid pink;
                width: 300px;
                height:50px;
                font-size: 14px;
                border: none;
                color:white;
                background-color: rgb(20, 20, 20);  
                padding-left: 1em;
                // @include mobile
                //     width:400px;
                //     height:20px;
                

                
            }

            input::placeholder{
                border: 5px solid pink;
                font-weight: bold;
                opacity: .5;
                color: red;
                background-color: hotpink;
            }

            ::-webkit-input-placeholder {
                color: white;
                background-color: hotpink;
            }

            textarea{
                border: 10px white solid;
                padding-left: 1em;
                width:300px;
                height:100px;
                font-size: 14px;
                margin: 1.25em;
                border: none;
                color:white;
                background-color: rgb(20, 20, 20);   
                // @include mobile{
                //     width:200px;
                //     height:50px;
                // }
            }

            button{
                border: 5px pink solid;
                width: 150px;
                height: 30px;
                padding: bottom 10px;
                justify-content: center;
                align-items: flex-start;
                color:white;
                background-color: crimson;                  
                border:none;
                border-radius: 10px;
                font-weight: 500;
                cursor:pointer;

                    &.focus{
                        outline: none;
                    }
                }

                    span{
                        color: crimson;
                 }
            }
        }
    }
