@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;700&family=Roboto:wght@300;700;900&display=swap");
.Contact {
  background-color: #141414;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10em;
  color: whitesmoke;
}

@media (max-width: 768px) {
  .Contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.Contact .left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: hidden;
}

.Contact .left img {
  height: 100%;
  width: 100%;
}

@media (max-width: 768px) {
  .Contact .left img {
    padding-top: 2em;
  }
}

.Contact .right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Contact .right h2 {
  font-size: 40px;
  margin-top: 2em;
  margin-bottom: 1em;
}

.Contact .right form {
  width: 80%;
  height: 70%;
  margin-bottom: 0.25em;
  border: 5px solid pink;
}

.Contact .right form input {
  border: 5px solid pink;
  width: 300px;
  height: 50px;
  font-size: 14px;
  border: none;
  color: white;
  background-color: #141414;
  padding-left: 1em;
}

.Contact .right form input::-webkit-input-placeholder {
  border: 5px solid pink;
  font-weight: bold;
  opacity: .5;
  color: red;
  background-color: hotpink;
}

.Contact .right form input:-ms-input-placeholder {
  border: 5px solid pink;
  font-weight: bold;
  opacity: .5;
  color: red;
  background-color: hotpink;
}

.Contact .right form input::-ms-input-placeholder {
  border: 5px solid pink;
  font-weight: bold;
  opacity: .5;
  color: red;
  background-color: hotpink;
}

.Contact .right form input::placeholder {
  border: 5px solid pink;
  font-weight: bold;
  opacity: .5;
  color: red;
  background-color: hotpink;
}

.Contact .right form ::-webkit-input-placeholder {
  color: white;
  background-color: hotpink;
}

.Contact .right form textarea {
  border: 10px white solid;
  padding-left: 1em;
  width: 300px;
  height: 100px;
  font-size: 14px;
  margin: 1.25em;
  border: none;
  color: white;
  background-color: #141414;
}

.Contact .right form button {
  border: 5px pink solid;
  width: 150px;
  height: 30px;
  padding: bottom 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: white;
  background-color: crimson;
  border: none;
  border-radius: 10px;
  font-weight: 500;
  cursor: pointer;
}

.Contact .right form button.focus {
  outline: none;
}

.Contact .right form span {
  color: crimson;
}
/*# sourceMappingURL=Contact.css.map */