@import "../../global.scss";


.AboutMe {
  
 
    display:flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(20, 20, 20);
    color:white;
    padding: 5em 12em;
    
   

    span{
        color:rgb(176, 3, 89);
        font-weight: 400;
    }

    @include mobile{
    margin-top: 3em;
    padding: 50px;
    }

    h1{
    font-size:2em;
       
        @include mobile{
        font-size: 0.75em;
           
        }
    }

    .bio-title{
        text-indent: -2em;
        padding-inline: 2em;
        color:rgb(176, 3, 89);
        margin-top:3em;
        display:flex;
        flex-direction: column;
        max-width: 700px;
        font-size: 1.7em;

        @include mobile{
            text-indent: 0;
            font-size: 1.25em;
           padding-inline: 2em;
        }
    }

    .bio-body{
       
        max-width: 600px;
        margin-top:1em;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 2em;
        font-weight: 300;
        font-size: 1.25em;
        .bio-text{
            margin-top: 1em;
           
        }
    }
}
