@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;700&family=Roboto:wght@300;700;900&display=swap");
.Testimonials {
  border-radius: 2px;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  font-family: lato;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Testimonials h1 {
  font-size: 50px;
  color: white;
}

@media (max-width: 868px) {
  .Testimonials h1 {
    font-size: 40px;
  }
}

.Testimonials .container-slider {
  width: 100%;
  height: 640px;
  margin: 100px auto 0;
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

@media (max-width: 868px) {
  .Testimonials .container-slider {
    width: 100%;
  }
}

.Testimonials .container-slider .slide {
  height: 100%;
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity ease-in-out 0.8s;
  transition: opacity ease-in-out 0.8s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Testimonials .container-slider .active-anim {
  opacity: 1;
}

@media (max-width: 868px) {
  .Testimonials .container-slider {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.Testimonials .container-slider .card {
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 15px -8px #fbfafa;
          box-shadow: 0px 0px 15px -8px #fbfafa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  background-color: white;
}

@media (min-width: 868px) {
  .Testimonials .container-slider .card {
    padding: 1em 5em;
    margin: 0 1em;
  }
}

.Testimonials .container-slider .card.featured {
  margin: 0 30px;
}

.Testimonials .container-slider .card.featured .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 200px;
}

.Testimonials .container-slider .card.featured .top img {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

@media (min-width: 868px) {
  .Testimonials .container-slider .card.featured .top img {
    height: 125px;
    width: 125px;
  }
}

.Testimonials .container-slider .card.featured .top.user {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 30px;
}

@media (max-width: 868px) {
  .Testimonials .container-slider .card.featured .top.user {
    width: 140px;
    height: 140px;
  }
}

.Testimonials .container-slider .card .center {
  padding: 10px;
  background-color: #fff5f8;
  line-height: 22px;
  font-size: 17px;
  font-weight: 300;
  font-family: 'Raleway', sans-serif;
  margin-top: 0;
}

@media (min-width: 868px) {
  .Testimonials .container-slider .card .center {
    line-height: 25px;
  }
}

.Testimonials .container-slider .card .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Testimonials .container-slider .card .bottom h3 {
  margin-top: 1em;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 800;
}

@media (max-width: 868px) {
  .Testimonials .container-slider .card .bottom h3 {
    font-size: 14px;
  }
}

.Testimonials .container-slider .card .bottom h4 {
  color: gray;
  margin: 0 1em;
  font-weight: 300;
}

@media (max-width: 868px) {
  .Testimonials .container-slider .card .bottom h4 {
    font-size: 14px;
  }
}

.Testimonials .container-slider .active-anim {
  opacity: 1;
}

.Testimonials .container-slider .btn-slide {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #f1f1f168;
  /* background: #e40909; */
  /* border: 1px solid rgba(34, 34, 34, 0.287); */
  border: none;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.Testimonials .container-slider .btn-slide:hover {
  -webkit-box-shadow: 0 10px 20px rgba(238, 7, 195, 0.2);
          box-shadow: 0 10px 20px rgba(238, 7, 195, 0.2);
}

.Testimonials .container-slider .btn-slide img {
  width: 15px;
  height: 18px;
  pointer-events: none;
}

.Testimonials .container-slider .prev {
  -webkit-transform: translateY(-60%);
          transform: translateY(-60%);
}

.Testimonials .container-slider .next {
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-60%);
          transform: translateY(-60%);
}

.Testimonials .container-slider .slider-title p {
  /* position: relative; */
  color: white;
  z-index: 10;
}

.Testimonials .container-slider .container-dots {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Testimonials .container-slider .dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #dc1493;
  margin: 0 5px;
  background: #191919;
}

.Testimonials .container-slider .dot.active {
  background: #e8159b;
}
/*# sourceMappingURL=Testimonial_Slider.css.map */