@import "../../global.scss";
.Testimonials {
  background-color: rgba(20, 20, 20, .45);
  border-radius: 2px;
  border: 1px solid rgba(20, 20, 20, .45);
  // box-shadow: 0 0 10px 1px rgba(0, 0, 0, .25);
  backdrop-filter: blur(15px);
 font-family: lato;

 display: flex;
    flex-direction:column;
    align-items: center;
    // margin-bottom: 2em;
  

    @include mobile{
        justify-content: center;
    }

  
   
    
    h1{
        font-size: 50px;
        margin-top: 2em;
        color:white;

       @include mobile{
           font-size: 40px;
           
       }
    }

.container-slider{
  width: 900px;
  height: 540px;
  margin: 100px auto 0;
  position: relative;
  overflow: hidden;
  // box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  padding: 1em 0;
// border: 5px solid red;

  @include mobile{
    width: 400px;
    
}

.slide{
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  transition: opacity ease-in-out 0.8s;

}

.active-anim {
  opacity: 1;
}


  @include mobile{
      flex-direction: column;
      justify-content: space-between;
     
  }
 
  .card{
     height:85%;
    
      border-radius: 10px;
      box-shadow: 0px 0px 15px -8px rgb(251, 250, 250);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items:center;
      padding:40px;
      transition: all 1s ease;
      margin:0.5em;
      background-color: white;
      

      @include desktop{
        padding: 5em;
       
    }

      &.featured{
          // width:300px;
          // height: 75%;
          margin: 0 30px;

          // @include mobile{
          //     height: 180px;
          //     width: 250px;
          // }
      }

      // &:hover{
      //     transform: scale(1.1);
      // }
     
      .top{
          display: flex;
          align-items: center;
          justify-content: center;

          img{
            border-radius: 50%;
            height:100px;
            width: 100px;
            margin-top: -2.5em;

            @include desktop{
              height:125px;
              width: 125px;
          }
          }

              &.user{
                  height:160px;
                  width: 160px;
                  border-radius: 50%;
                  object-fit: cover;
                  margin: 0 30px;

                  @include mobile{
                      width: 140px;
                      height:140px;
                  }
              }
          }
      }

}
.center {
  padding:10px;
  background-color: rgb(255, 245, 248);
  line-height: 22px;
  font-size: 17px;
      padding: 15px 0;
      font-weight: 300;
      font-family: 'Raleway', sans-serif;
      
  // border-radius: 10px;

  @include desktop{
    padding: 3em;
    line-height: 25px;
}
}
.bottom{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  h3{
      margin: 0px 5px 0;
      letter-spacing: 1px;
      text-transform:uppercase;
      font-weight: 800;
    
    
      @include mobile{
          font-size:14px;
          
      }
  }
  h4{
      color: gray;        
      margin: 0 1em ;
      font-weight: 300;
      @include mobile{
          font-size:14px;
      }
  }
}

}

  .active-anim {
    opacity: 1;
  }
  
  .btn-slide {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #f1f1f168;
    /* background: #e40909; */
    /* border: 1px solid rgba(34, 34, 34, 0.287); */
    border:none;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
  }

  .btn-slide:hover{
    // border: 1px solid rgba(34, 34, 34, 0.287);
    box-shadow: 0 10px 20px rgba(238, 7, 195, 0.2);
  }
  
  .btn-slide img {
    width: 25px;
    height: 25px;
    pointer-events: none;

    @include mobile{
     
     
  }
    
  }


  .prev {
    top: 150%;
    left: 20px;
    transform: translateY(-60%);
    
  }
  .next {
    top: 50%;
    right: 20px;
    transform: translateY(-60%);
  }

  .slider-title p{
      /* position: relative; */
      color:white;
      z-index: 10;
      
  }
  
  
  .container-dots {
 
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  }
  
  .dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid rgb(220, 20, 147);
    margin: 0 5px;
    background: #191919;
  }

  .dot.active {
    background: rgb(232, 21, 155);
  }
